Sloth.Xml/Schemas/collector.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.kuali.org/kfs/gl/collector"
	xmlns="http://www.kuali.org/kfs/gl/collector" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:simpleType name="organizationCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="4" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="personUserID">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:minLength value="2" />
			<xsd:maxLength value="8" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="emailAddress">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="campusCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DV" />
			<xsd:enumeration value="DH" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="phoneNumber">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[0-9]{1,10}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="mailingAddress">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="departmentName">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="30" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="universityFiscalYear">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="2017" />
			<xsd:maxInclusive value="2099" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="chartOfAccountsCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:length value="1" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="accountNumber">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[A-Z0-9]{7}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="subAccountNumber">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="5" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="financialObjectCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[A-Z0-9]{1,4}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="financialSubObjectCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="4" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="financialBalanceTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AC" />
			<xsd:enumeration value="CB" />
			<xsd:enumeration value="EX" />
			<xsd:enumeration value="IE" />
			<xsd:enumeration value="PE" />
			<xsd:enumeration value="BB" />
			<xsd:enumeration value="BI" />
			<xsd:enumeration value="FT" />
			<xsd:enumeration value="FI" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="financialObjectTypeCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[A-Z]{0,2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="universityFiscalPeriodCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="" />
			<xsd:enumeration value="01" />
			<xsd:enumeration value="02" />
			<xsd:enumeration value="03" />
			<xsd:enumeration value="04" />
			<xsd:enumeration value="05" />
			<xsd:enumeration value="06" />
			<xsd:enumeration value="07" />
			<xsd:enumeration value="08" />
			<xsd:enumeration value="09" />
			<xsd:enumeration value="10" />
			<xsd:enumeration value="11" />
			<xsd:enumeration value="12" />
			<xsd:enumeration value="13" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="financialDocumentTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GLIB" />
			<xsd:enumeration value="GLJV" />
			<xsd:enumeration value="GLCC" />
			<xsd:enumeration value="GLJB" />
			<xsd:enumeration value="GLBB" />
			<xsd:enumeration value="GLCB" />
			<xsd:enumeration value="GLDE" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="financialSystemOriginationCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="(0[2-90A-Z])|([1-9A-Z][0-9A-Z])" /><!-- Disallow 01 -->
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="referenceFinancialSystemOriginationCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:pattern value="[A-Z0-9]{2}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="fdocNumberType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z0-9]{1,14}" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="sequenceNumber">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="transactionLedgerEntryDescription">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="40" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="amount">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2" />
			<xsd:totalDigits value="19" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="transactionDebitCreditCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=" " />
			<xsd:enumeration value="D" />
			<xsd:enumeration value="C" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="organizationDocumentNumber">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="projectCode">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="10" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="organizationReferenceId">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="8" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="transactionEncumbranceUpdateCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="R" />
			<xsd:enumeration value="D" />
			<xsd:enumeration value=" " />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="collectorDetailSequenceNumber">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="2" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="collectorDetailNoteText">
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="120" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- header fields -->
	<xsd:element name="orgCode" type="organizationCode" />
	<xsd:element name="batchDate" type="xsd:date" />
	<xsd:element name="batchSequenceNum" type="sequenceNumber" />
	<xsd:element name="contactUserId" type="personUserID" />
	<xsd:element name="contactEmail" type="emailAddress" />
	<xsd:element name="campusCode" type="campusCode" />
	<xsd:element name="contactPhoneNumber" type="phoneNumber" />
	<xsd:element name="mailingAddress" type="mailingAddress" />
	<xsd:element name="departmentName" type="departmentName" />

	<!-- glEntry fields -->
	<xsd:element name="fiscalYear" type="universityFiscalYear" />
	<xsd:element name="chart" type="chartOfAccountsCode" />
	<xsd:element name="account" type="accountNumber" />
	<xsd:element name="subAccount" type="subAccountNumber" />
	<xsd:element name="object" type="financialObjectCode" />
	<xsd:element name="subObject" type="financialSubObjectCode" />
	<xsd:element name="balanceType" type="financialBalanceTypeCode" />
	<xsd:element name="objectType" type="financialObjectTypeCode" />
	<xsd:element name="fiscalPeriod" type="universityFiscalPeriodCode" />
	<xsd:element name="docType" type="financialDocumentTypeCode" />
	<xsd:element name="originCode" type="financialSystemOriginationCode" />
	<xsd:element name="docNum" type="fdocNumberType" />
	<xsd:element name="sequenceNum" type="sequenceNumber" />
	<xsd:element name="description" type="transactionLedgerEntryDescription" />
	<xsd:element name="amount" type="amount" />
	<xsd:element name="debitCredit" type="transactionDebitCreditCode" />
	<xsd:element name="transDate" type="xsd:date" />
	<xsd:element name="trackingNumber" type="organizationDocumentNumber" />
	<xsd:element name="project" type="projectCode" />
	<xsd:element name="referenceId" type="organizationReferenceId" />
	<xsd:element name="refDocType" type="financialDocumentTypeCode" />
	<xsd:element name="refOriginCode" type="referenceFinancialSystemOriginationCode" />
	<xsd:element name="refDocNum" type="fdocNumberType" />
	<xsd:element name="reversalDate" type="xsd:date" />
	<xsd:element name="encumbCode" type="transactionEncumbranceUpdateCode" />

	<!-- trailer -->
	<xsd:element name="totalRecords" type="xsd:positiveInteger" />
	<xsd:element name="totalAmount" type="amount" />

	<!-- detail -->
	<xsd:element name="createDate" type="xsd:date" />
	<xsd:element name="detailSequenceNum" type="collectorDetailSequenceNumber" />
	<xsd:element name="detailDescription" type="collectorDetailNoteText" />

	<!-- definition of complex type elements -->

	<xsd:complexType name="headerType">
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="1" ref="chart" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="orgCode" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="batchDate" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="batchSequenceNum" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="contactUserId" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="contactEmail" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="campusCode" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="contactPhoneNumber" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="mailingAddress" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="departmentName" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="detailType">
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="1" ref="fiscalPeriod" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="fiscalYear" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="createDate" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="chart" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="account" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="subAccount" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="object" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="subObject" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="balanceType" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="objectType" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="detailSequenceNum" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="originCode" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="docType" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="docNum" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="amount" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="detailDescription" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="trailerType">
		<xsd:all>
			<xsd:element ref="totalRecords" />
			<xsd:element ref="totalAmount" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="glEntryType">
		<xsd:all>
			<xsd:element maxOccurs="1" minOccurs="0" ref="fiscalYear" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="chart" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="account" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="subAccount" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="object" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="subObject" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="balanceType" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="objectType" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="fiscalPeriod" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="docType" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="originCode" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="docNum" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="sequenceNum" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="description" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="amount" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="debitCredit" />
			<xsd:element maxOccurs="1" minOccurs="1" ref="transDate" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="trackingNumber" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="project" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="referenceId" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="refDocType" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="refOriginCode" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="refDocNum" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="reversalDate" />
			<xsd:element maxOccurs="1" minOccurs="0" ref="encumbCode" />
		</xsd:all>
	</xsd:complexType>

	<xsd:complexType name="batchType">
		<xsd:sequence>
			<xsd:element name="header" type="headerType" />
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element minOccurs="0" maxOccurs="1" name="glEntry" type="glEntryType" />
				<xsd:element minOccurs="0" maxOccurs="1" name="detail" type="detailType" />
			</xsd:sequence>
			<xsd:element name="trailer" type="trailerType" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="batch" type="batchType" />

</xsd:schema>
